# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
Scripts/
Lib/
etc/
share/
pyvenv.cfg

# IDE
.idea/
.vscode/
*.swp
*.swo
.cursor/

# OS specific
.DS_Store
Thumbs.db

# Large files
*.pt
*.weights
*.h5
*.onnx
*.tflite
*.pb